package home

import "github.com/Kishinskiy/golang-templ-htmx-app/internal/view/layout"

templ Index(){
    @layout.Base(layout.BaseProps{Title: "Main Page"}) {
        <h1>Hello, World again and again!!</h1>
    }
}
